*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.colorBlanco{
    color: #e6e7e8;
}
.colorNaranja{
    color: #f15d2c;
}
.colorGrisClaro{
    color: #96989b;
}
.colorGrisOscuro{
    color: #737476;
}
.sombra{
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
}

.banner{
    background-image: linear-gradient(to right, #f15d2c, black);
    height: auto;
}
.banner__logo{
    width: 70%;
}
.banner__titulo{
    font-size: 40px;
    font-weight: 700;
}
.banner__subtitulo{
    font-size: 25px;
    font-weight: 400;
}

.banner__boton{
    color: #ffffff;
    background-color: #f15d2c;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    padding: 17px 36px 18px;
    text-decoration: none;
    margin-top: 15px;
    font-size: 14px;
    width: 270px;
}

.banner__banco{
    margin-top: 15px;
    height: 56px;
    width: auto;
}
.banner__imagen{
    z-index: 2;
    width: 100%;
}
.banner__boton:hover {
    color: #ffff;
}
.banner__circulo{
    top: 806px;
    right: 164px;
    z-index: 1;
}
.banner__circulo2{
    bottom: 35px;
    right: 110px;
    z-index: 1;
}
.circulo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 21px solid #f15d2c;
    opacity: 70%;
}
.circulo2{
    width: 100px;
    border: 24px solid #f15d2c;
    height: 100px;
}

/*----------------------------------------------------------------*/
/*                            Video                               */
/*----------------------------------------------------------------*/
.video{
    height: 400px;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../imagenes/video__fondo.jpg);
    background-position: center;
    background-size: cover;
}

.video__video{
    width: 90%;
}

/*----------------------------------------------------------------*/
/*                            Union                               */
/*----------------------------------------------------------------*/
.union{
    background-image: linear-gradient(to right, black, #f15d2c);
}

.union__titulo{
    margin-bottom: 36px;
}

.union__linea{
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
}
.union__logo{
    width: 75%;
}

.union__slogan{
    position: relative;
    top: -70px;
}
.union i {
    font-size: 60px;
    color: #fff;
}
/*----------------------------------------------------------------*/
/*                            Porque                              */
/*----------------------------------------------------------------*/
.porque{
    background-image: linear-gradient(0deg, rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../imagenes/porque__fondo.jpg);
    background-position: center;
    background-size: cover;
}
.porque__lista{
    font-weight: 400;
}

.porque__cont-lista{
    width: 100%;
    height: 299px;
    background-color: #f15d2c;
}
.porque__lista{
    font-size: 14px;
    font-weight: 400;
}

/*----------------------------------------------------------------*/
/*                            Alcance                             */
/*----------------------------------------------------------------*/

.alcance{
    background-image: linear-gradient(to right, black, #f15d2c);
    height: auto;
}
.alcance__imagen{
    width: 100%;
    bottom: -50px;
}
.alcance__titulo{
    font-size: 48px;
}
.alcance__parrafo{
    font-size: 24px;
}
.alcance__letra-chiquita{
    margin-top: 60px;
    font-size: 14px;
}

.alcance__circulo{
    top: 820px;
    right: 125px;
}

/*----------------------------------------------------------------*/
/*                            Sabias                              */
/*----------------------------------------------------------------*/

.sabias{
    background-image: linear-gradient(
        0deg, rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../imagenes/sabias__fondo.jpg);    background-position: center;
    background-size: cover;
}

.sabias h1{
    font-size: 26px;
    font-weight: 400;
}
.sabias p {
    font-size: 20px;
    font-weight: 400;
}

.sabias h2{
    font-size: 30px;
    font-weight: 600;
}

.sabias h3{
    font-size: 36px;
    font-weight: 700;
}

.sabias h4{
    font-size: 48px;
    font-weight: 900;
}

/*----------------------------------------------------------------*/
/*                            Oferta                              */
/*----------------------------------------------------------------*/

.oferta{
    background-image: linear-gradient(to right, #f15d2c, black);
}

.oferta__titulo{
    font-size: 40px;
}

.oferta__precioTachado{
    font-size: 55px;
    font-weight: 600;
}

.oferta__precio{
    font-size: 80px;
    font-weight: 600;
}

.oferta p{
    font-size: 20px;
}

.oferta__circulo{
    top: 1056px;
    right: 202px;
    z-index: 1;
}

.circulo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 21px solid #f15d2c;
    opacity: 70%;
}

/*----------------------------------------------------------------*/
/*                            Sorteo                              */
/*----------------------------------------------------------------*/

.sorteo{
    background-image: linear-gradient(-90deg, #e6e7e8, white);
}

.sorteo h1, .sorteo h2 , .sorteo h3{
    font-size: 30px;
}

.sorteo h2 {
    font-weight: 600;
}

.sorteo h4{
    font-size: 36px;
    font-weight: 600;
}

.sorteo__imagen{
    width: 50%;
}

.vigencia{
    background-image: linear-gradient(-90deg, #f15d2c, black);
}

.vigencia__titulo{
    font-size: 48px;
    font-weight: 900;
}

.vigencia__subtitulo{
    font-size: 36px;
    font-weight: 400;
}

.vigencia__boton{
    background-image: linear-gradient(to right, #f15d2c, #eb8360);
    text-decoration: none;
    border-style: none;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    padding: 9px 22px;
}

/*----------------------------------------------------------------*/
/*                            Descarga                            */
/*----------------------------------------------------------------*/

.descarga__titulo, .descarga__subtitulo{
    font-size: 26px;
    font-weight: 600;
}
.descarga__logo{
    width: 250px;
}

/*----------------------------------------------------------------*/
/*                            Whatsapp                            */
/*----------------------------------------------------------------*/

.whatsapp{
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: scale(0);
    transition: all 600ms ease-in-out;
}



.whatsapp__icono{
    font-size: 50px;
}

.mostrarWhatsapp{
    transform: scale(1);
}



@media (min-width: 768px) { 
    
    .banner__logo{
        width: 30%;
    }
    .banner__titulo{
        font-size: 40px;
    }
    .banner__subtitulo{
        font-size: 30px;
    }

    .banner__boton{
        display: block;
    }
    
    .banner__imagen{
        z-index: 2;
        width: 70%;
    }
    
    .banner__circulo{
        top: 530px;
        right: 352px;
        z-index: 1;
    }
    .banner__circulo2{
        bottom: 20px;
        right: 243px;
        z-index: 1;
    }
    .circulo{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 30px solid #f15d2c;
        opacity: 70%;
    }
    .circulo2{
        width: 160px;
        border: 40px solid #f15d2c;
        height: 160px;
    }

    /*----------- Union -----------*/
    .union__logo{
        width: 50%;
        position: relative;
        top:-50px;
    }
    .union__slogan{
        top: -150px;
    }

    /*----------- Porque -----------*/

    .porque__lista{
        font-size: 20px;
    }

    /*----------- Alcance -----------*/

    .alcance{
        height: 600px;
    }
    
    .alcance__imagen{
        position: relative;
        bottom: -120px;
        width: 125%;
        right: 50px
    }

    .alcance__parrafo{
        font-size: 20px;

    }
    .alcance__letra-chiquita{
        margin-top: 20px;
        font-size: 14px;
    }

    .alcance__circulo{
        top: 129px;
        right: 478px;
    }

    /*----------- Sabias -----------*/

    .sabias h1{
        font-size: 36px;
    }
    .sabias p {
        font-size: 30px;
    }

    .whatsapp{
        right: 50px;
        bottom: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
    
    /*----------- Whatsapp -----------*/

    .whatsapp{
        width: 90px;
        height: 90px;
    }

    .whatsapp__parrafo{
        right: 160px;
        bottom: 60px;
        color: #ffffff;
        background-color: #f15d2c;
        font-size: 13px;
        transform: scale(0);
        transition: all 600ms ease-in-out;
    }

    .mostrarConsulta{
        transform: scale(1);
    }

    .whatsapp__icono{
        font-size: 90px;
    }
    
    
 }


@media (min-width: 992px) { 
    .banner{
        background-image: linear-gradient(to right, #f15d2c, black);
        height: auto;
        padding-bottom: 50px;
    }
    .banner__logo{
        width: 20%;
    }
    .banner__titulo{
        font-size: 40px;
    }
    .banner__subtitulo{
        font-size: 30px;
    }

    .banner__imagen{
        width: 100%;
        z-index: 2;
    }

    .banner__circulo{
        top: 140px;
        right: 250px;
    }
    .banner__circulo2{
        bottom: 26px;
        right: 157px;
    }
    .circulo{
        width: 150px;
        height: 150px;
    }
    .circulo2{
        width: 170px;
        height: 170px;
    }



    /*---------- video -------------*/

    .video{
        height: 600px;
    }
    
    .video__video{
        width: 90%;
    }

    /*---------- Union -------------*/

    .union__slogan{
        top: -170px;
    }

    
    /*----------- Alcance -----------*/

    .alcance{
        height: 530px;
    }
    
    .alcance__imagen{
        bottom: 0;
        width: 100%;
        right: 0px;
    }

    .alcance__titulo{
        margin-top: 30px;
    }

    .alcance__parrafo{
        font-size: 20px;
        width: 432px;

    }
    .alcance__letra-chiquita{
        margin-top: 40px;
        font-size: 14px;
        width: 432px;
    }

    .alcance__circulo {
        top: 14px;
        right: 658px;
    }

    

    /*----------- Oferta -----------*/

    .oferta__titulo{
        font-size: 40px;
    }
    
    .oferta__precioTachado{
        font-size: 45px;
    }
    
    .oferta__precio{
        font-size: 60px;
    }
    
    .oferta p{
        font-size: 20px;
    }

    .oferta__circulo{
        top: 367px;
        right: 112px;
    }

 }


@media (min-width: 1200px) { 

    /*----------Banner-----------*/

    .banner{
        background-image: linear-gradient(to right, #f15d2c, black);
        height: 100vh;
    }

    .banner__titulo{
        font-size: 50px;
    }
    .banner__subtitulo{
        font-size: 30px;
    }

    .banner__circulo{
        top: 156px;
        right: 397px;
    }
    .banner__circulo2{
        bottom: 35px;
        right: 285px;
    }
    .circulo{
        width: 150px;
        height: 150px;
    }
    .circulo2{
        width: 170px;
        height: 170px;
    }

    /*----------video-------------*/

    .video{
        height: 700px;
    }
    
    .video__video{
        width: 70%;
    }

    /*----------- Union -----------*/

    .union__logo{
        width: 30%;
        top:-70px;
    }

    /*----------- Porque -----------*/

    .porque__cont-lista{
        width: 800px;
    }

    /*----------- Alcance -----------*/

    .alcance{
        height: 670px;
    }
    

    .alcance__parrafo{
        font-size: 24px;
    }

    .alcance__circulo {
        top: 53px;
        right: 861px;
    }

    /*----------- Oferta -----------*/

    .oferta__titulo{
        font-size: 40px;
    }
    .oferta__precioTachado{
        font-size: 55px;
    }
    
    .oferta__precio{
        font-size: 80px;
    }

    .oferta__circulo{
        right: 218px;
    }
    

    /*----------- Sorteo -----------*/

    .sorteo__imagen{
        width: 20%;
    }

    .alcance__imagen{
        bottom: -40px;
    }

    /*----------- Whatsapp -----------*/

    .whatsapp{
        width: 70px;
        height: 70px;
    }
    .whatsapp__icono{
        font-size: 70px;
    }

    .whatsapp__parrafo{
        right: 140px;
        bottom: 50px;
        font-size: 15px;
    }
    

 }


@media (min-width: 1400px) { 

    /*----------Banner-----------*/

    .banner__logo{
        width: 15%;
    }

    .banner__titulo{
        font-size: 60px;
    }

    .banner__subtitulo{
        font-size: 36px;
    }

    .banner__circulo{
        top: 140px;
        right: 600px;
    }

    .banner__circulo2{
        bottom: 120px;
        right: 450px;
    }

    .circulo{
        width: 150px;
        height: 150px;
        border: 30px solid #f15d2c;

    }

    .circulo2{
        width: 250px;
        border: 45px solid #f15d2c;
        height: 250px;
    }

    /*----------- Union -----------*/

    .union__logo{
        width: 20%;
        top:-70px;
    }

    /*----------- Alcance -----------*/

    .alcance__circulo {
        top: 53px;
        right: 1209px;
    }

    /*----------- Almancen -----------*/
    
    .alcance__imagen{
        width: 90%;
    }

    .oferta__circulo{
        top: 426px;
        right: 433px;
    }

    


    
 }